.button {
    background-color: #facf0f;
    color: black;
    padding: 1rem;
    border: solid 1px #facf0f;
    border-radius: 10px;
    box-shadow: grey 1px 1px;
    font-weight: bolder;
    cursor: pointer;

}