@import url(https://fonts.googleapis.com/css?family=Raleway);

$color-orange: orange;
$color-white: white;
$color-dark: #2d3737;
$color-black: black;
$color-grey: #fafafa;
$color-light-grey: lightgrey;
$color-dark-grey: #2d3737;


$font-primary: "Raleway", sans-serif;
$font-secondary: "monospace", sans-serif;

$font-size-largest: 2.5rem;
$font-size-extra-large: 2rem;
$font-size-large: 1.75rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;
$font-size-extra-small: 0.8rem;
$font-size-smallest: 0.65rem;
