body {
    // background-image: url("../../assets/background2.jpg");
    background-color: lightgrey;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100%;
}