@use "../../styles/variables" as *;
.header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 90vh;
   width: 100vw;

   &__title {
      font-size: 3.5rem;
   }
   &__info {
      font-size: 2rem;
   }
   &__button {
      background-color: #facf0f;
      color: black;
      padding: 1rem;
      border: solid 1px #facf0f;
      border-radius: 10px;
      box-shadow: grey 1px 1px;
      font-weight: bolder;
      cursor: pointer;
   }

}
